@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Josefin+Sans:wght@300;400;500;600&family=Open+Sans:wght@400;500;600;700;800&family=Sono:wght@400;500;600;700;800&display=swap");

@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/utils";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/queries";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Josefin Sans", sans-serif;
  color: #f2f2f2;
}

html {
  box-sizing: border-box;
  font-size: 58%;

  @media only screen and (width <= 75em) {
    font-size: 53%;
  }

  @media only screen and (width <= 53.125em) {
    font-size: 41.5%;
  }
}

body {
  background-color: rgb(23, 22, 22);
}

main {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content 1fr;
  height: 80vh;
  ::-webkit-scrollbar {
    width: 2rem;
  }

  ::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(225deg, #86efac 10%, #60a5fa, #6366f1 80%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  }

  @media only screen and (width <= 49.125em) {
    ::-webkit-scrollbar-track {
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background: transparent;
    }
  }
}

.root {
  @media only screen and (width > 49.125em) {
    margin: 0 auto;
    max-width: 90%;
  }
}
