.navegory {
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  grid-gap: 1.5rem;

  @media only screen and (width <= 53.125em) {
    grid-column: 1/-1;
    grid-row: 1 / span 1;
    display: grid;
    grid-template-columns: repeat(9, auto);
    margin-bottom: 4rem;
    margin-left: 1.5rem;
    overflow-x: scroll;
  }

  &__btn {
    border: none;
    padding: 1.2rem 2rem;
    border-radius: 5000px;
    width: 30rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    font-family: "Sono", cursive;
    font-size: 1.8rem;
    color: white;
    background-color: rgb(137, 97, 47);
    cursor: pointer;

    &:first-child {
      margin-bottom: 1rem;
      background-image: linear-gradient(
        135deg,
        #3b82f6,
        #ef4444,
        #16a34a,
        #eab308
      );

      @media only screen and (width <= 53.125em) {
        max-width: fit-content;
        font-size: 1.2rem;
        transform: translateY(20%);
      }
    }

    &:hover {
      transform: SkewY(-2deg) scale(1.08);
    }

    &:active {
      transform: SkewY(0) scale(0.9);
    }

    @media only screen and (width <= 53.125em) {
      width: fit-content;
      font-size: 1.2rem;
      padding: 0.7rem 2em;
    }
  }
}
