.navegory {
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  grid-gap: 1.5rem;

  @media only screen and (width <= 53.125em) {
    flex-direction: row;
    grid-column: 1/-1;
    grid-row: 1 / span 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
  }

  &__btn {
    border: none;
    padding: 1.2rem 2rem;
    border-radius: 5000px;
    width: 30rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    font-family: "Coiny", cursive;
    font-size: 1.8rem;
    color: white;
    background-color: rgb(137, 97, 47);
    cursor: pointer;

    &:first-child {
      margin-bottom: 1rem;
      background-image: linear-gradient(
        135deg,
        #3b82f6,
        #ef4444,
        #16a34a,
        #eab308
      );
    }

    &:hover {
      transform: SkewY(-2deg) scale(1.08);
    }

    &:active {
      transform: SkewY(0) scale(0.9);
    }

    @media only screen and (width <= 53.125em) {
      width: 20rem;
    }
  }
}
