@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Josefin+Sans:wght@300;400;500;600&family=Open+Sans:wght@400;500;600;700;800&family=Sono:wght@400;500;600;700;800&display=swap");

.header {
  grid-column: 1/-1;
  width: 100%;
  display: grid;
  grid-template-columns: max-content 1fr max-content max-content;
  color: white;
  align-items: center;
  padding: 3rem 3rem 0;
  grid-column-gap: 2rem;

  @media only screen and (width > 53.125em) {
    padding: 3rem 5rem;
    grid-gap: 2rem;
    margin-bottom: 0;
  }

  @media only screen and (width <= 53.125em) {
    grid-template-rows: repeat(2, min-content) min-content;
    margin-bottom: 2rem;
  }

  &__title {
    text-transform: uppercase;
    font-size: 4.2rem;
    font-weight: bolder;
    line-height: 1;
    margin-top: 1rem;
    font-family: "Sono", sans-serif;

    @media only screen and (width <= 53.125em) {
      font-size: 3rem;
    }
    @media only screen and (width <= 33.125em) {
      display: none;
    }
  }

  .logo {
    width: 7.25rem;
    height: 7.25rem;
    display: block;
  }

  &__btn {
    justify-self: flex-end;
    position: relative;
    grid-row: 1 / span 1;
    padding: 1.5rem 2.2rem;
    color: white;
    border-radius: 10px;
    border: none;
    line-height: 1;
    cursor: pointer;
    font-family: "Sono", sans-serif;

    background-image: linear-gradient(
      225deg,
      #86efac 10%,
      #60a5fa,
      #6366f1 80%
    );

    transition: all 0.2s;

    &--first {
      grid-column: 3 / span 1;
    }

    &--second {
      grid-column: 4 / span 1;
    }

    @media only screen and (width <= 53.125em) {
      max-width: 21rem;
      padding: 1.8rem 2.2rem;
      text-align: center;
      align-self: center;
      justify-self: flex-start;
    }

    p {
      font-size: 1.9rem;
      text-transform: uppercase;
      font-weight: bolder;
      font-family: "Sono", sans-serif;

      @media only screen and (width <= 53.125em) {
        font-size: 1.5rem;
      }
    }

    &:hover {
      transform: rotate(-2deg) scale(1.05);
    }

    &:active {
      transform: rotate(0) scale(1);
    }

    &::before {
      content: "close";
      text-transform: uppercase;
      font-size: 1.9rem;
      display: none;

      @media only screen and (width <= 53.125em) {
        font-size: 1.5rem;
      }
    }
  }

  label.header__btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-self: flex-end;
    font-family: "Sono", sans-serif;

    svg {
      fill: white;
      width: 1.7rem;
      height: 1.7rem;
      transform: translateY(-0.17rem);

      @media only screen and (width <= 53.125em) {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  &__toggle {
    visibility: hidden;
    position: absolute;
  }

  &__toggle:checked ~ .form {
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
    margin-top: 3rem;
    padding: 2rem;
    height: auto;
  }

  &__toggle:checked ~ .header__btn p {
    display: none;
  }

  &__toggle:checked ~ .header__btn svg {
    display: none;
  }

  &__toggle:checked ~ .header__btn::before {
    display: block;
  }
}
