.sort-container {
  grid-row: 1 / span 1;
  grid-column: 2/-1;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 5rem 0 3rem;

  @media only screen and (width <= 75em) {
    grid-row: 2 / span 1;
    padding: 0 5rem 0 5rem;
  }
}

.filter-category {
  margin: 2rem 0;
  margin-top: 0;
  padding: 0.7rem 0.3rem;
  border-radius: 5px;
  width: fit-content;
  border: none;
  outline: none;
  background-color: rgb(159, 150, 150);
  color: rgb(223, 210, 210);
  font-size: 1.5rem;
  font-weight: bolder;

  @media only screen and (width <= 68.75em) {
    font-size: 1.2rem;
  }

  option {
    font-weight: 500;
  }

  @media only screen and (width <= 75em) {
    margin: 0;
    padding: 1rem;
  }
}
